<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="sourcetexttrimmer" name="%extension-point.name" schema="schema/org.exria.googledic.sourcetexttrimmer.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="net.jeeeyul.eclipse.googledic.internal.GoogleDicView"
            icon="icons/google.gif"
            id="net.jeeeyul.eclipse.googledic.internal.GoogleDicView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.jeeeyul.eclipse.googledic.internal.GoogleDicPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.jeeeyul.eclipse.googledic.internal.ToggleDirectionHandler"
            id="net.jeeeyul.eclipse.googledic.toggleDirection"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="net.jeeeyul.eclipse.googledic.trimmer.internal.ToggleTrimmerHandler"
            id="net.jeeeyul.eclipse.googledic.toggleTextSelectionTrimmer"
            name="%command.name.1">
         <commandParameter
               id="trimmerName"
               name="%commandParameter.name.0"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:net.jeeeyul.eclipse.googledic.internal.GoogleDicView">
         <command
               commandId="net.jeeeyul.eclipse.googledic.toggleDirection"
               icon="icons/vertical.gif"
               label="%command.label.0"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:net.jeeeyul.eclipse.googledic.internal.GoogleDicView">
         <command
               commandId="net.jeeeyul.eclipse.googledic.toggleDirection"
               icon="icons/vertical.gif"
               label="%command.label.1"
               style="toggle">
         </command>
         <menu
               label="%menu.label.0">
            <dynamic
                  class="net.jeeeyul.eclipse.googledic.trimmer.internal.TextSelectionTrimmerContributionItem"
                  id="net.jeeeyul.eclipse.googledic.trimmer.internal.TextSelectionTrimmerContributionItem">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="net.jeeeyul.eclipse.googledic.sourcetexttrimmer">
      <sourceTextTrimmer
            class="net.jeeeyul.eclipse.googledic.trimmer.CommentNotationRemover"
            name="%sourceTextTrimmer.name">
      </sourceTextTrimmer>
      <sourceTextTrimmer
            class="net.jeeeyul.eclipse.googledic.trimmer.CamelSplitter"
            name="%sourceTextTrimmer.name.0">
      </sourceTextTrimmer>
      <sourceTextTrimmer
            class="net.jeeeyul.eclipse.googledic.trimmer.TagRemover"
            name="%sourceTextTrimmer.name.1">
      </sourceTextTrimmer>
      <sourceTextTrimmer
            class="net.jeeeyul.eclipse.googledic.trimmer.internal.WhiteSpaceRemover"
            name="%sourceTextTrimmer.name.2">
      </sourceTextTrimmer>
   </extension>

</plugin>
